<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
  <head>
    <title>2dcloud</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <style > :root
    {
      --height: calc({% assign i = 0 %}{% paginate collections['all'].products by 1000 %}{% for product in collections["all"].products %}{% assign i = i | plus: 1 %}{% endfor %}{% endpaginate %}{{ i }} * 100px);
    }
  </style>
  {{ 'global.css' | asset_url | stylesheet_tag }}
  <link
    rel="stylesheet"
    class="switch"
    href="{{ 'scroll.css' | asset_url }}">
  {{ content_for_header }}
</head>

<body>
  <script>
      const listcss = "{{ 'list.css' | asset_url}}";
      const scrollcss = "{{ 'scroll.css' | asset_url}}";
  </script>
  <div id="header">
    <a href="https://2dcloud.com/about">2dcloud</a>
    Shop
    <a href="/paul-peng-sketchbook">Sketchbook by Paul Peng</a>
    <a href="/margot-ferrick-sketchbook">Sketchbooks by Margot Ferrick</a>
    <a href="/blaise-larmee-sketchbook">Sketchbook by Blaise Larmee</a>
    <a href="/cake-2015">Cake 2015</a>
    <a href="/a-new-york-story">A New York Story</a>
    <a href="/tcaf-2015">TCAF 2015</a>
    <a href="/mocca-2015">MoCCA 2015</a>
    <a href="/aidan-koch-translations">Translations</a>
    <a href="/tommi-parrish-interview">Tommi Parrish</a>
    <a href="/leon-sadler-interview">Leon Sadler</a>
    <a href="/new-york-minute">New York Minute</a>
    <a href="/meags-fitzgerald-interview">Meags Fitzgerald</a>
    <a href="/julie-doucet-interview">Julie Doucet</a>
    <a href="/mike-dawson-interview">Mike Dawson</a>
    <a href="/marinaomi-apology-not-acceptable">Apology Not Acceptable</a>
    <a href="/zak-sally-interview">Zak Sally</a>
    <a href="/scott-longo-interview">Scott Longo</a>
    <a href="/moonbaby">Moonbaby</a>
    <input
      id="checkbox"
      checked
      type="checkbox"
      data-scroll="{{ 'scroll.css' | asset_url}}"
      data-list="{{ 'list.css' | asset_url}}">
  </div>
  {% comment %} <details id="header">
                    <summary>2dcloud 
                    </summary>
                    <a href="mailto:info@2dcloud.com">info@2dcloud.com</a>,
                    <a href="https://2dcloud.substack.com">substack</a>,
                    <a href="https://x.com/2dcloud">twitter</a>,
                    <a href="https://instagram.com/2d.cloud">instagram</a>,
          </details> {% endcomment %}
  <main>

    {% comment %}
      cart
    {% endcomment %}

    <details
      id="cart"
      class="hidden"
      hidden>
      <summary>
        <div class="price" id="total"></div>
        <div class="title">Cart</div>
      </summary>
      <form
        class="checkout"
        action="/cart"
        method="post"
        novalidate>
        <input
          type="submit"
          name="checkout"
          value="checkout">
      </form>
      {% paginate collections.all.products by 1000 %}
        {% for product in collections.all.products %}
          {% if product.has_only_default_variant %}
            <div class="hidden" hidden>
              <input
                class="qty"
                value="1"
                type="tel">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <button
                    data-id="{{ variant.id}}"
                    data-price="{{ variant.price }}"
                    class="buy">
                    remove
                  </button>
                {% endif %}
              {% endfor %}
              ${{ product.price | | divided_by: 100.00 | ceil }}
              {{ product.title }}
            </div>
          {% else %}
            {% for variant in product.variants %}
              {% if variant.available %}
                <div class="hidden" hidden>
                  <input class="qty" value="1">
                  <button
                    data-id="{{ variant.id}}"
                    data-price="{{ variant.price }}"
                    class="buy">
                    remove</button>${{ product.price | | divided_by: 100.00 | ceil }}
                  {{ product.title }}
                  {% assign vsplits = variant.title | split: ' ' %}
                  {% for vsplit in vsplits %}
                    {{ vsplit | slice: 0 | upcase }}
                  {% endfor %}
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endpaginate %}
    </details>

    {% comment %}
      item
    {% endcomment %}

    {% paginate collections.all.products by 1000 %}
      {% for product in collections.all.products %}
        <details
          class="item"
          data-handle="{{ product.handle }}"
          data-id="{{ product.id }}">
          <summary>
            <div class="price">
              {% if product.available %}
                ${{ product.price | divided_by: 100.00 | ceil }}
              {% endif %}
              {% if product.compare_at_price > product.price %}
                <br>
                <s>${{ product.compare_at_price | divided_by: 100.00 | ceil }}</s>
              {% endif %}
            </div>
            <div class="title">
              {{ product.title }}
            </div>
          </summary>
          {% if product.has_only_default_variant %}
            {% for variant in product.variants %}
              {% if variant.available %}
                <button
                  data-id="{{ variant.id}}"
                  data-price="{{ variant.price }}"
                  class="buy">buy</button>
              {% endif %}
            {% endfor %}
          {% else %}
            {% for variant in product.variants %}
              {% if variant.available %}
                <button
                  data-id="{{ variant.id}}"
                  data-price="{{ variant.price }}"
                  class="buy">
                  {% assign vsplits = variant.title | split: ' ' %}
                  {% for vsplit in vsplits %}
                    {{- vsplit | slice: 0 | upcase -}}
                  {% endfor %}
                </button>
              {% endif %}
            {% endfor %}
          {% endif %}
          {% for media in product.media %}
            {% case media.media_type %}
              {% when 'video' %}
                {{ media | video_tag: controls: true, image_size: '900x' }}`
              {% when 'image' %}
                <img src="{{ media | image_url: width: 900}}">
            {% endcase %}
          {% endfor %}
          {{ product.description }}
        </details>
      {% endfor %}
    {% endpaginate %}
  </main>
  <div class="canvasWrapper">
    <canvas id="canvas"></canvas>
  </div>
  <div id="spacer"></div>
  {{ content_for_layout }}
  {{ 'script.js' | asset_url | script_tag }}
</body></html>