{% assign currentProductId = product.id %}
<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
  <head>
    <title>2dcloud</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {{ 'global.css' | asset_url | stylesheet_tag }}
    {{ 'list.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}
  </head>

  <body>
    {{ content_for_layout }}
    <div id="background">
      <svg>
        <path d="M81.781,86.906c-4.973,0-9.155,3.475-10.219,8.125c-0.427-0.089-0.859-0.125-1.312-0.125c-3.571,0-6.469,2.898-6.469,6.469c0,3.354,2.574,6.115,5.844,6.438v0.031H81.25v-0.031c0.175,0.009,0.354,0.031,0.531,0.031c5.777,0,10.438-4.691,10.438-10.469C92.219,91.597,87.559,86.906,81.781,86.906z" />
      </svg>
    </div>
    <header>
      <a href="https://2dcloud.com">2dcloud</a>
      {% comment %} {% if currentProductId == nil %}
                <button id="enhance">enhance</button>
                <script>
                  const enhanceJs = '{{ 'enhance.js' | asset_url }}'
                  const enhanceCss = '{{ 'enhance.css' | asset_url }}'
                  const unenhanceJs = '{{ 'unenhance.js' | asset_url }}'
                </script>
                {{ 'enhanceButton.js' | asset_url | script_tag }}
              {% endif %}
          {% endcomment %}
      {% if currentProductId %}
        <a href="../">shop</a>
      {% else %}
        shop
      {% endif %}
    </header>

    {% comment %}
      cart
    {% endcomment %}

    <details
      id="cart"
      class="hidden"
      hidden>
      <summary>
        <div class="price" id="total"></div>
      </summary>
      {% paginate collections.all.products by 1000 %}
        {% for product in collections.all.products %}
          {% if product.has_only_default_variant %}
            <div class="hidden" hidden>
              <span class="title">
                ${{ product.price | | divided_by: 100.00 | ceil }} {{ product.title }}
              <input
                class="qty"
                value="1"
                type="tel">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <button
                    data-id="{{ variant.id}}"
                    data-price="{{ variant.price }}"
                    class="buy">
                    remove
                  </button>
                {% endif %}
              {% endfor %}
            </div>
          {% else %}
            {% for variant in product.variants %}
              {% if variant.available %}
                <div class="hidden" hidden>
                  <input class="qty" value="1">
                  <button
                    data-id="{{ variant.id}}"
                    data-price="{{ variant.price }}"
                    class="buy">
                    remove</button>${{ product.price | | divided_by: 100.00 | ceil }}
                  {{ product.title }}
                  {% assign vsplits = variant.title | split: ' ' %}
                  {% for vsplit in vsplits %}
                    {{ vsplit | slice: 0 | upcase }}
                  {% endfor %}
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endpaginate %}
      <form
        class="checkout"
        action="/cart"
        method="post"
        novalidate>
        <input
          type="submit"
          name="checkout"
          value="checkout">
      </form>
    </details>

    {% comment %}
      item
    {% endcomment %}

    <main>
      {% paginate collections.all.products by 1000 %}
        {% for product in collections.all.products %}
          {% if currentProductId == nil or currentProductId == product.id %}
            <details
              {% if currentProductId == product.id %}
              open
              {% endif %}
              class="item"
              data-handle="{{ product.handle }}"
              data-id="{{ product.id }}">
              <summary>
                <div class="price">
                  {% if product.available %}
                    ${{ product.price | divided_by: 100.00 | ceil }}
                  {% endif %}
                  {% if product.compare_at_price > product.price %}
                    <br>
                    <s>${{ product.compare_at_price | divided_by: 100.00 | ceil }}</s>
                  {% endif %}
                </div>
                <div class="title">
                  {{ product.title }}
                </div>
              </summary>
              {% if product.has_only_default_variant %}
                {% for variant in product.variants %}
                  {% if variant.available %}
                    <button
                      data-id="{{ variant.id}}"
                      data-price="{{ variant.price }}"
                      class="buy">buy</button>
                  {% endif %}
                {% endfor %}
              {% else %}
                {% for variant in product.variants %}
                  {% if variant.available %}
                    <button
                      data-id="{{ variant.id}}"
                      data-price="{{ variant.price }}"
                      class="buy">
                      {% assign vsplits = variant.title | split: ' ' %}
                      {% for vsplit in vsplits %}
                        {{- vsplit | slice: 0 | upcase -}}
                      {% endfor %}
                    </button>
                  {% endif %}
                {% endfor %}
              {% endif %}
              {% for media in product.media %}
                {% case media.media_type %}
                  {% when 'video' %}
                    {{ media | video_tag: controls: true, image_size: '900x' }}`
                  {% when 'image' %}
                    <img src="{{ media | image_url: width: 900}}">
                {% endcase %}
              {% endfor %}
              {{ product.description }}
              {% for tag in product.tags %}
                <a href="/collections/all/{{ tag | handleize }}">{{ tag }}</a><br>
              {% endfor %}
            </details>
          {% endif %}
        {% endfor %}
      {% endpaginate %}
      <div class="canvasWrapper">
        <canvas id="canvas"></canvas>
      </div>
    </main>
    <div id="spacer"></div>
    {{ 'script.js' | asset_url | script_tag }}
  </body>
</html>