{% assign currentProductId = product.id %}
<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <title>2dcloud</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ 'global.css' | asset_url | stylesheet_tag }}
  {{ 'list.css' | asset_url | stylesheet_tag }}
  {{ content_for_header }}
</head>

<body style="background:blue;">
  {{ content_for_layout }}
  <header>
    <a href="https://2dcloud.com">2dcloud</a> 
    {% if currentProductId %}<a href="../">{% endif %}shop {% if currentProductId %}</a>{% endif %}
    <details id="cart" hidden>
      <summary>cart</summary>
      {% paginate collections.all.products by 1000 %}
        {% for product in collections.all.products %}
          {% if product.has_only_default_variant %}
            <div hidden>
              <span class="title">
                ${{ product.price | | divided_by: 100.00 | ceil }} {{ product.title }}
              </span>
              <input
                class="qty"
                value="1"
                type="tel">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <button
                    data-id="{{ variant.id}}"
                    data-price="{{ variant.price }}"
                    class="buy">
                    remove
                  </button>
                {% endif %}
              {% endfor %}
            </div>
          {% else %}
            {% for variant in product.variants %}
              {% if variant.available %}
                <div hidden>
                  <input class="qty" value="1">
                  <button
                    data-id="{{ variant.id}}"
                    data-price="{{ variant.price }}"
                    class="buy">
                    remove</button>${{ product.price | | divided_by: 100.00 | ceil }}
                  {{ product.title }}
                  {% assign vsplits = variant.title | split: ' ' %}
                  {% for vsplit in vsplits %}
                    {{ vsplit | slice: 0 | upcase }}
                  {% endfor %}
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endpaginate %}
      <div id="total"></div>
      <form
        action="/cart"
        method="post"
        novalidate>
        <input
          type="submit"
          name="checkout"
          value="checkout">
      </form>


    </details>
  </header>


    {% comment %}
      item
    {% endcomment %}

    <main>
      {% paginate collections.all.products by 1000 %}
        {% for product in collections.all.products %}
          {% if currentProductId == nil or currentProductId == product.id %}
            <details
              {% if currentProductId == product.id %}
              open
              {% endif %}
              class="item"
              data-handle="{{ product.handle }}"
              data-id="{{ product.id }}">
              id="{{ product.handle }}"
              <summary>
                <div class="price">
                  {% if product.available %}
                    ${{ product.price | divided_by: 100.00 | ceil }}
                  {% endif %}
                  {% if product.compare_at_price > product.price %}
                    <br>
                    <s>${{ product.compare_at_price | divided_by: 100.00 | ceil }}</s>
                  {% endif %}
                </div>
                <div class="title">
                  {{ product.title }}
                </div>
                {% for media in product.media %}
                  {% case media.media_type %}
                    {% when 'video' %}
                      <a href="{{video.src}}">{{ media | video_tag: controls: false, image_size: '90x' }}</a>
                    {% when 'image' %}
                      <a href="{{video.src}}"><img src="{{ media | image_url: width: 90}}"></a>
                  {% endcase %}
                {% endfor %}
              </summary>
              {% if product.has_only_default_variant %}
                {% for variant in product.variants %}
                  {% if variant.available %}
                    <button
                      data-id="{{ variant.id}}"
                      data-price="{{ variant.price }}"
                      class="buy">buy</button>
                  {% endif %}
                {% endfor %}
              {% else %}
                {% for variant in product.variants %}
                  {% if variant.available %}
                    <button
                      data-id="{{ variant.id}}"
                      data-price="{{ variant.price }}"
                      class="buy">
                      {% assign vsplits = variant.title | split: ' ' %}
                      {% for vsplit in vsplits %}
                        {{- vsplit | slice: 0 | upcase -}}
                      {% endfor %}
                    </button>
                  {% endif %}
                {% endfor %}
              {% endif %}
              {{ product.description }}
              {% for tag in product.tags %}
                <a href="/collections/all/{{ tag | handleize }}">{{ tag }}</a><br>
              {% endfor %}
            </details>
          {% endif %}
        {% endfor %}
      {% endpaginate %}
      <div class="canvasWrapper">
        <canvas id="canvas"></canvas>
      </div>
    </main>
    <div id="spacer"></div>
    {{ 'script.js' | asset_url | script_tag }}
  </body>
</html>


      {% comment %} {% if currentProductId == nil %}
                                                <button id="enhance">enhance</button>
                                                <script>
                                                  const enhanceJs = '{{ 'enhance.js' | asset_url }}'
                                                  const enhanceCss = '{{ 'enhance.css' | asset_url }}'
                                                  const unenhanceJs = '{{ 'unenhance.js' | asset_url }}'
                                                </script>
                                                {{ 'enhanceButton.js' | asset_url | script_tag }}
                                              {% endif %}
                                  {% endcomment %}

