<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
  <head>
    <title>2dcloud</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
</head>

<body>
  <div id="header">
    <a href="https://2dcloud.com">
    <svg>
      <path d="M81.781,86.906c-4.973,0-9.155,3.475-10.219,8.125c-0.427-0.089-0.859-0.125-1.312-0.125c-3.571,0-6.469,2.898-6.469,6.469c0,3.354,2.574,6.115,5.844,6.438v0.031H81.25v-0.031c0.175,0.009,0.354,0.031,0.531,0.031c5.777,0,10.438-4.691,10.438-10.469C92.219,91.597,87.559,86.906,81.781,86.906z" />
    </svg>
  </a>
  </div>
  {% comment %} <details id="header">
                                    <summary>2dcloud 
                                    </summary>
                                    <a href="mailto:info@2dcloud.com">info@2dcloud.com</a>,
                                    <a href="https://2dcloud.substack.com">substack</a>,
                                    <a href="https://x.com/2dcloud">twitter</a>,
                                    <a href="https://instagram.com/2d.cloud">instagram</a>,
                  </details> {% endcomment %}
  <main>

    {% comment %}
      cart
    {% endcomment %}

    <details
      id="cart"
      class="hidden"
      hidden>
      <summary>
        <div class="price" id="total"></div>
        <div class="title">Cart</div>
      </summary>
      {% paginate collections.all.products by 1000 %}
        {% for product in collections.all.products %}
          {% if product.has_only_default_variant %}
            <div class="hidden" hidden>
              <input
                class="qty"
                value="1"
                type="tel">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <button
                    data-id="{{ variant.id}}"
                    data-price="{{ variant.price }}"
                    class="buy">
                    remove
                  </button>
                {% endif %}
              {% endfor %}
              ${{ product.price | | divided_by: 100.00 | ceil }}
              {{ product.title }}
            </div>
          {% else %}
            {% for variant in product.variants %}
              {% if variant.available %}
                <div class="hidden" hidden>
                  <input class="qty" value="1">
                  <button
                    data-id="{{ variant.id}}"
                    data-price="{{ variant.price }}"
                    class="buy">
                    remove</button>${{ product.price | | divided_by: 100.00 | ceil }}
                  {{ product.title }}
                  {% assign vsplits = variant.title | split: ' ' %}
                  {% for vsplit in vsplits %}
                    {{ vsplit | slice: 0 | upcase }}
                  {% endfor %}
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endpaginate %}
      <form
        class="checkout"
        action="/cart"
        method="post"
        novalidate>
        <input
          type="submit"
          name="checkout"
          value="checkout">
      </form>
    </details>
  {{ content_for_layout }}
</body></html>